<h1>Hello.</h1>
<%- if treatment("sample") == :test %>
  Welcome to the funny test app.
<%- else %>
  Welcome to the test app.
<%- end %>
<%= treatment("sample") do |treatment| %>
  Welcome to the <%= treatment %> app.
<%- end %>
