<h1>Hello.</h1>

<p>
  Your treatment is <strong><%= treatment("sample") %></strong>.
</p>

<%- if treatment("sample") == "test" %>
  Welcome to the test variant.
<%- else %>
  Welcome to the control variant.
<%- end %>

<%= treatment("sample") do |treatment| %>
  (In this block, it's the <%= treatment %> variant.)
<%- end %>
